@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: 'gamebubble';
    src: url(media/fontes/gamebubble.otf) format('opentype');
    font-weight: normal;
}

:root{
        --cor0:#f8f9fa;
        --cor1:#ffdb57;
        --cor2:#a7d8f0;
        --cor3:#5d97b4;
        --cor4:#1f628c;
        --cor5:#7d7d7d;
        --cor6:#424241;
        --fonte-padrao: 'Arimo', sans-serif;
        --fonte-destaque: 'gamebubble', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
    background-image: image-set("media/textura3.png");
    font-family: var(--fonte-padrao);
    font-size: 18px;
    text-align: justify;  
}

header {
    background-image: linear-gradient(to top, var(--cor0), var(--cor2), var(--cor4));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: -3px;
    
}

header > img {
    width: 100%;
    max-width: 700px;
}

header > h1 {
    display: none;
}

nav {
    background-color: var(--cor0);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.150);
    padding: 15px 10px 10px 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    font-family: var(--fonte-padrao);
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
    font-size: 1.4em;
    padding: 10px 20px 10.49999952316289px 20px;
    
}
a:hover {
    background-color: var(--cor2);
    border-radius: 3px 3px 5px 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

/*main*/

main {
    background-color: var(--cor0);
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    max-width: 1000px;
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    margin-top: -5px;
}

h2 > img {
    vertical-align: text-bottom;
    padding-right: 5px;
}

main h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    font-size: 2em;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

main p {
    font-family: var(--fonte-padrao);
    padding: 15px 0px 15px 0px;
    text-indent: 50px;
    line-height: 1.5em;
}

p strong {
    color: var(--cor4);
    font-weight: bold;
}

div.slideshow img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}



aside {
    
    padding-bottom: 20px;
    background-color: var(--cor2);
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

aside h3 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    background-color: var(--cor1);
    font-size: 1.75em;
    color: var(--cor4);
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 25px;
}

form label {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor4);
    padding-right: 15px;
    display: table-cell;
    text-align: right;
    padding: 5px 1% 5px 25px;
    margin-left: auto;
    margin-right: 100%;
}



form input {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor4);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--cor4);
    display: table-cell;
}
form div{
    display:table-row;
    
}
#agendar {
    margin-top: 10%;
    margin-left: 10%;
    background-color: var(--cor4);
    color: var(--cor0);
    border: 10px solid var(--cor4);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
}


    footer {
        background-color: var(--cor6);
        color: var(--cor1);
        text-align: center;
        padding: 2px 0px 2px 0px;
        font-family: var(--fonte-destaque);
        font-size: 1em;
        box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.150);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    footer p {
        padding: 5px;
    }

    

@media screen and (max-width: 1100px) {

    header > img {
        width: 90%;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
        
    }

    nav {
        padding: 12.5px 10px 10px 10px;
    }

    nav a {
        padding: 10px 10px 10.49999952316289px 10px;
    }

    
}

@media screen and (max-width: 600px) {

    body {
        font-size: 16px;
        background-color: var(--cor1);
        background-image: none;
    }


    header > img {
        width: 90%;
        padding-bottom: 0px;
        margin-bottom: -10px;
    }

    nav {
        padding: 15px 10px 10px 10px;
    }

    nav a {
        font-size: 1.2em;
        font-family: var(--fonte-padrao);
        font-weight: bold;
        padding: 10px 5px 10.49999952316289px 5px;
    }

    main {
        margin: auto;
        padding: 15px 3px 15px 3px;
        margin-bottom: 15px;
        margin-top: -5px;
    }

    main p {
        padding: 15px;
    }

    main h2 {
        padding: 10px;
    }

    form label {
        padding: 5px;
        font-size: 1.1em;
    }

    form input {
        font-size: 1.1em;
    }



    footer {
        position: static;
    }

}